
address	{display: block;
font-style: italic;	}
area	{display: none;	}
article	{display: block;	}
aside	{display: block;	}
b	{font-weight: bold;	}

blockquote	{display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 40px;
margin-right: 40px;	 }
body	{display: block;
margin: 8px;	}
caption	{display: table-caption;
text-align: center;}
cite	{font-style: italic;}
code	{font-family: monospace;}
col	{display: table-column;}
colgroup	{display: table-column-group}
datalist	{display: none;}
dd	{display: block;
margin-left: 40px;}
del	{text-decoration: line-through;}
details	{display: block;}
dfn	{font-style: italic;}
div	{display: block;}

dt	{display: block;}
em	{font-style: italic;}
embed:focus	{outline: none;}
fieldset	{display: block;
margin-left: 2px;
margin-right: 2px;
padding-top: 0.35em;
padding-bottom: 0.625em;
padding-left: 0.75em;
padding-right: 0.75em;
border: 2px groove;}
footer	{display: block;}
form	{display: block;
margin-top: 0em;}
h1	{display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
h2	{display: block;
font-size: 1.5em;
margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
h3	{display: block;
font-size: 1.17em;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
h4	{display: block;
margin-top: 1.33em;
margin-bottom: 1.33em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
h5	{display: block;
font-size: .83em;
margin-top: 1.67em;
margin-bottom: 1.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
h6	{display: block;
font-size: .67em;
margin-top: 2.33em;
margin-bottom: 2.33em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}
head	{display: none;}
header	{display: block;}
hr	{display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;}
html	{display: block;}
i	{font-style: italic;}
iframe:focus	{outline: none;}
iframe[seamless]	{display: block;}
img	{display: inline-block;}
li	{display: list-item;}
link	{display: none;}
map	{display: inline;}
mark	{background-color: yellow;
color: black;}
menu	{display: block;
list-style-type: disc;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;}
nav	{display: block;}
object:focus	{outline: none;}
ol	{display: block;
list-style-type: decimal;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;	}
output	{display: inline;	}
p	{display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;	}
param	{display: none;}
pre	{display: block;
font-family: monospace;
white-space: pre;
margin: 1em 0;	 }
q	{display: inline;}
q::before	{content: open-quote;	 }
q::after	{content: close-quote;	 }
s	{text-decoration: line-through;	}
samp	{font-family: monospace;	 }
script	{display: none;	}
section	{display: block;	 }
small	{font-size: smaller;	 }
strike	{text-decoration: line-through;	}
strong	{font-weight: bold;	 }
style	{display: none;	}
sub	{vertical-align: sub;
font-size: smaller;	 }
summary	{display: block;}
sup	{vertical-align: super;
font-size: smaller;	 }
table{	display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;	 }
tbody{	display: table-row-group;
vertical-align: middle;
border-color: inherit;	}
td	{display: table-cell;
vertical-align: inherit;}
tfoot	{display: table-footer-group;
vertical-align: middle;
border-color: inherit;	}
th{	display: table-cell;
vertical-align: inherit;
font-weight: bold;
text-align: center;
vertical-align: middle;
border-color: inherit;	}
title{	display: none;	}
tr	{display: table-row;
vertical-align: inherit;
border-color: inherit;	}
u	{text-decoration: underline;}
ul	{display: block;
list-style-type: disc;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;}
body {margin:0;padding: 0px;}

nav {
 overflow: hidden;
 background-color: black;
 position: fixed;
 top: 0;
 width: 100%;
 opacity: 0.8;
 margin: 0px;
 padding: 0px;
}

nav a {
 float: left;
 display: block;
 color: White;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 opacity: 1;
}
a:hover {
  color: blue;
transition: 0.3s;
}
nav a:hover {
 background-color: orange;
     transition: 0.45s;
}
a:link	{color:  White;
text-decoration: underline;
cursor: pointer;	 }
a:visited	{color: white;
text-decoration: underline;
cursor: pointer;	}
a:link:active	{color: white;}

a:visited:active	{color: white;}
h1, h2, h3, h4, h5, h6 {
font-family: 'Ubuntu', cursive;
}
li, p, a, ol, ul {
  font-family: 'Roboto', sans-serif;
}
.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    background-color: white;
}
.card a {
  color: black
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-box {
    padding: 2px 16px;
}
.small-text {

}
.float-clear{
  clear: both;
}
.Body-Team, .Body-Contact, .Body-Real-Index, .Body-Archived,.Legal-Body.Body-Products   {
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Legal-Body{
  background-image: url("http://www.myfreetextures.com/wp-content/uploads/2011/06/another-rough-old-and-worn-parchment-paper.jpg");
}
.Body-Team {
  background-image: url("https://raw.githubusercontent.com/Yeehawlerz101/MMCCWeb2k17/master/Final%20Project/WP_Meta-2560x1440_00061.jpg");
}
.Body-Contact{
  background-image: url("https://raw.githubusercontent.com/Yeehawlerz101/MMCCWeb2k17/master/Final%20Project/WP_Reso-2560x1440_00049.jpg");
}
.Body-Real-Index {
  background-image: url("https://raw.githubusercontent.com/Yeehawlerz101/MMCCWeb2k17/master/Final%20Project/WP_Stranger_Days-2560x1440_00000.jpg");
}
.Body-Archived {
  background-image: url("http://www.justinmaller.com/img/projects/wallpaper/WP_Omens_II-2560x1440_00000.jpg");
}
.Body-Products {
    background-image: url("http://www.justinmaller.com/img/projects/wallpaper/WP_Desktopography-2560x1440_00081.jpg");
}
.nav-1 {margin: 0px;padding: 0px;}
.nav-2 {}
.nev-3 {}
.nav-4 {}
.nav-5 {}
  footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);;
  color: white;
  text-align: center;
font-family: 'Quicksand', sans-serif;
text-shadow: 2px 2px black;
padding-bottom: 0.3%;
  }
  .spacer {
    margin-top:55px;
    opacity:0;
  }
  button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
        background-color: blue;
             transition: 0.35s;

  }
